# Directories
venv
archive
.obsidian
.ipynb_checkpoints
data
dump

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Python Installer
pip-log.txt

# Numpy extentions
*.npy

# saved models
*.pth

# images
images