@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,500&display=swap');
/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Bricolage Grotesque', sans-serif;
    background-color: #333;
    color: #fff;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 92px;
    background-color: #444;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #d2bc00
}

form {
    margin-bottom: 20px;
}

input[type="file"] {
    display: block;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #555;
    color: #fff;
}

button[type="submit"] {
    background-color: #d2bc00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #ffee5a;
}

#result {
    padding: 20px;
    border: 1px solid #666;
    background-color: #555;
}

#uploaded-image {
    max-height: 100px;
    margin: 0 auto;
}